@model IEnumerable<SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.CellularBalanceTuneUpRequest>

@{
    ViewData["Title"] = "Recargas Cubacel - Pendientes";
}
<section id="mainrender">
    <div class="container">
        <div class="row">
            <h2>Recargas Cubacel - Pendientes</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            N&uacute;mero de tel&eacute;fono
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TuneUpProfile.Label)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Requested)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumberTarget)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TuneUpProfile.Label)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requested)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>