@using SmartSolucionesCuba.SAPRESSC.Core.Common.Models.View;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Models.View;


@model AccountInputViewModel;
@{
    ViewData["Title"] = "Crear Cuenta";

    ViewData[BreadcrumbViewModel.BREADCRUMBS_MAP_KEY] = new List<BreadcrumbViewModel>
{
new BreadcrumbViewModel
{
Caption = "<span class=\"glyphicon glyphicon-home\"></span> Inicio",
Url = "/"
},
new BreadcrumbViewModel
{
Caption = "Administración",
Url = Url.Action("index", "management", new { Area = string.Empty })
},
new BreadcrumbViewModel
{
Caption = "Crear Cuenta",
Url = Url.Action("index")
},
new BreadcrumbViewModel
{
Caption = "Agregar"
}
};

    Layout = "_BackendLayout";
}


@using (Html.BeginForm("create", "accounts", new { Area = "main" }, FormMethod.Post, true, null))
{
    @Html.ValidationSummary(true)

    <div class="panel panel-default">
        <div class="panel-heading"><h4>@ViewData["Title"]</h4></div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 20px;">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                </div>
            </div>

            <div style="margin-bottom: 20px;">
                @Html.LabelFor(model => model.Balance, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Balance, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Balance, null, new { @class = "text-danger" })
            </div>

            <div style="margin-bottom: 20px;">

                <div class="checkbox">
                    <label>
                        @Html.EditorFor(model => model.Enabled) Habilitado
                        @Html.ValidationMessageFor(model => model.Enabled)
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style="margin-bottom: 20px;">
                    @Html.LabelFor(model => model.RepresentativeId, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.RepresentativeId, Model.Users, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RepresentativeId, null, new { @class = "text-danger" })
                </div>

            </div>

            <div>
                <button type="submit" class="btn btn-primary">Crear</button>
                <a class="btn btn-default" href="@Url.Action("index")">Cancelar</a>
            </div>
        </div>
    </div>
}