@model SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.User

@{
    ViewData["Title"] = "Detalles Usuario";
}

<section id="detalles-usuario">
    <div class="container">
        <h3>Detalles Usuario</h3>

        <div class="row">
            <div class="col-md-8">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nombre
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Tel&eacute;fono
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                </dl>
                <div class="form-group-btn">
                    <div class="back-to-list-btn">
                        <a asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Volver al listado</a>
                    </div>
                    <div class="main-btn">
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Modificar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
                    </div>
                </div>
            </div>            
        </div>

    </div>
</section>
