@model IEnumerable<SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.User>

@{
    ViewData["Title"] = "Usuarios en mi Perfil";
}

<section id="mainrender">
    <div class="container">
        <h3>Usuarios en mi Perfil</h3>

        <div id="formulario_usuarios-header">
            <a asp-action="Create" class="btn btn-primary">Agregar nuevo Usuario</a>
        </div>
        <div class="tabla-container">
            <div class="row tabla-row-header">
                <div class="col-md-2 tabla-col">
                    <div class="col-texto-header">
                        Nombre
                    </div>
                </div>
                <div class="col-md-4 tabla-col">
                    <div class="col-texto-header">
                        Email
                    </div>
                </div>
                <div class="col-md-2 tabla-col">
                    <div class="col-texto-header">
                        Tel&eacute;fono
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row tabla-row">
                    <div class="col-md-2 tabla-col">
                        <div class="col-titulo">
                            Nombre
                        </div>
                        <div class="col-texto">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </div>
                    </div>
                    <div class="col-md-4 tabla-col">
                        <div class="col-titulo">
                            Email
                        </div>
                        <div class="col-texto">
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                    </div>
                    <div class="col-md-2 tabla-col">
                        <div class="col-titulo">
                            Tel&eacute;fono
                        </div>
                        <div class="col-texto">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </div>
                    </div>
                    <div class="col-md-4 tabla-col-btn">
                        <div class="col-btn">
                            <a class="btn btn-info tabla-btn" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                            <a class="btn btn-success tabla-btn" asp-action="Edit" asp-route-id="@item.Id">Modificar</a>
                            <a class="btn btn-danger tabla-btn" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>