@using SmartSolucionesCuba.SAPRESSC.Core.Common.Models.View;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Models.View;
@model CellularBalanceTuneUpRecordDisplayViewModel

@{
    ViewData["Title"] = "Eliminar Recarga Cubacel";

    ViewData[BreadcrumbViewModel.BREADCRUMBS_MAP_KEY] = new List<BreadcrumbViewModel>
{
new BreadcrumbViewModel
{
Caption = "<span class=\"glyphicon glyphicon-home\"></span> Inicio",
Url = "/"
},
new BreadcrumbViewModel
{
Caption = "Administración",
Url = Url.Action("index", "management", new { Area = string.Empty })
},
new BreadcrumbViewModel
{
Caption = "Eliminar Recarga Cubacel",
Url = Url.Action("index")
},
new BreadcrumbViewModel
{
Caption = "Eliminar"
}
};

    Layout = "_BackendLayout";
}
<section id="mainrender">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <h5>¿Seguro que desea eliminar esta recarga?</h5>
        <div class="row">
            <div class="col-md-8">
                <hr />

                <dl>
                    <dt>@Html.DisplayNameFor(model => model.PhoneNumberTarget)</dt>
                    <dd>@Html.DisplayFor(model => model.PhoneNumberTarget)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Amount)</dt>
                    <dd>@Html.DisplayFor(model => model.Amount)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Created)</dt>
                    <dd>@Html.DisplayFor(model => model.Created)</dd>
                </dl>
                @using (Html.BeginForm("delete", "cellularbalancetuneuprecord", new { Area = "main", key = string.Empty }, FormMethod.Post, true, null))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="pull-left">
                        <a href="@Url.Action("index")"><i class="fa fa-chevron-circle-left"></i> Volver al listado</a>
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a class="btn btn-secondary" href="@Url.Action("index")">Cancelar</a>
                    </div>
                }

            </div>
        </div>
    </div>
</section>