@using SmartSolucionesCuba.SAPRESSC.Core.Common.Models.View;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Models.View;
@model UserDisplayViewModel;


@{
    ViewData["Title"] = "Eliminar Cuenta ";

    ViewData[BreadcrumbViewModel.BREADCRUMBS_MAP_KEY] = new List<BreadcrumbViewModel>
{
new BreadcrumbViewModel
{
Caption = "<span class=\"glyphicon glyphicon-home\"></span> Inicio",
Url = "/"
},
new BreadcrumbViewModel
{
Caption = "Administración",
Url = Url.Action("index", "management", new { Area = string.Empty })
},
new BreadcrumbViewModel
{
Caption = "Eliminar Cuenta",
Url = Url.Action("index")
},
new BreadcrumbViewModel
{
Caption = "Eliminar"
}
};

    Layout = "_BackendLayout";
}
<section id="mainrender">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <h5>Esta seguro que desea eliminar la cuenta detallada a continuación?</h5>

        <dl>
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
        </dl>

        <dl>
            <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
            <dd>@Html.DisplayFor(model => model.FullName)</dd>
        </dl>
        @using (Html.BeginForm("delete", "users", new { Area = "main", key = string.Empty }, FormMethod.Post, true, null))
        {
            @Html.HiddenFor(model => model.Id)
            <div>
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a class="btn btn-default" href="@Url.Action("index")">Cancelar</a>
            </div>
        }

    </div>
</section>