@using SmartSolucionesCuba.SAPRESSC.Core.Common.Models.View;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Models.View;

@model UserInputViewModel;

@{
    ViewData["Title"] = "Modificar Usuario";

    ViewData[BreadcrumbViewModel.BREADCRUMBS_MAP_KEY] = new List<BreadcrumbViewModel>
{
new BreadcrumbViewModel
{
Caption = "<span class=\"glyphicon glyphicon-home\"></span> Inicio",
Url = "/"
},
new BreadcrumbViewModel
{
Caption = "Administración",
Url = Url.Action("index", "management", new { Area = string.Empty })
},
new BreadcrumbViewModel
{
Caption = "Modificar Usuario",
Url = Url.Action("index")
},
new BreadcrumbViewModel
{
Caption = "Modificar"
}
};

    Layout = "_BackendLayout";
}

@using (Html.BeginForm("edit", "users", new { Area = "main", key = string.Empty }, FormMethod.Post, true, null))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)

    <div class="panel panel-default">
        <div class="panel-heading"><h4>@ViewData["Title"]</h4></div>

        <div class="panel-body">
            <div style="margin-bottom: 20px;">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            </div>

            <div style="margin-bottom: 20px;">
                @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FullName, null, new { @class = "text-danger" })
            </div>

            <div style="margin-bottom: 20px;">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
            </div>


            <div class="row">
                <div class="col-md-6" style="margin-bottom: 20px;">
                    @Html.LabelFor(model => model.IdRole, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.IdRole, Model.Roles, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdRole, null, new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Modificar</button>
                <a class="btn btn-default" href="@Url.Action("index")">Regresar al listado</a>
            </div>
        </div>
    </div>
}
